In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress

In [2]:
file = "Data/year_temps.csv"

In [3]:
df = pd.read_csv(file, encoding = 'latin-1')
df.head()

,ï»¿Area Code,Area,Months Code,Months,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,7020,Meteorological year,7271,Temperature change,1961,1961,Â°C,-0.059,Fc
1,2,Afghanistan,7020,Meteorological year,7271,Temperature change,1962,1962,Â°C,-0.154,Fc
2,2,Afghanistan,7020,Meteorological year,7271,Temperature change,1963,1963,Â°C,0.820,Fc
3,2,Afghanistan,7020,Meteorological year,7271,Temperature change,1964,1964,Â°C,-0.728,Fc
4,2,Afghanistan,7020,Meteorological year,7271,Temperature change,1965,1965,Â°C,0.001,Fc

In [4]:
#get column names
for col in df.columns:
    print(col)

ï»¿Area Code
Area
Months Code
Months
Element Code
Element
Year Code
Year
Unit
Value
Flag

In [5]:
df_1 = pd.DataFrame(df)
df_1

,ï»¿Area Code,Area,Months Code,Months,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,7020,Meteorological year,7271,Temperature change,1961,1961,Â°C,-0.059,Fc
1,2,Afghanistan,7020,Meteorological year,7271,Temperature change,1962,1962,Â°C,-0.154,Fc
2,2,Afghanistan,7020,Meteorological year,7271,Temperature change,1963,1963,Â°C,0.820,Fc
3,2,Afghanistan,7020,Meteorological year,7271,Temperature change,1964,1964,Â°C,-0.728,Fc
4,2,Afghanistan,7020,Meteorological year,7271,Temperature change,1965,1965,Â°C,0.001,Fc
...,...,...,...,...,...,...,...,...,...,...,...
14492,5873,OECD,7020,Meteorological year,7271,Temperature change,2014,2014,Â°C,0.777,Fc
14493,5873,OECD,7020,Meteorological year,7271,Temperature change,2015,2015,Â°C,1.229,Fc
14494,5873,OECD,7020,Meteorological year,7271,Temperature change,2016,2016,Â°C,1.804,Fc
14495,5873,OECD,7020,Meteorological year,7271,Temperature change,2017,2017,Â°C,1.286,Fc
14496,5873,OECD,7020,Meteorological year,7271,Temperature change,2018,2018,Â°C,1.016,Fc

In [7]:
clean_df = df_1.drop(["ï»¿Area Code", "Months Code", "Element Code" , "Element" , "Year Code", "Unit", "Flag" , "Months"], axis =1)
clean_df

              Area  Year  Value
0      Afghanistan  1961 -0.059
1      Afghanistan  1962 -0.154
2      Afghanistan  1963  0.820
3      Afghanistan  1964 -0.728
4      Afghanistan  1965  0.001
...            ...   ...    ...
14492         OECD  2014  0.777
14493         OECD  2015  1.229
14494         OECD  2016  1.804
14495         OECD  2017  1.286
14496         OECD  2018  1.016

[14497 rows x 3 columns]

In [8]:
new_df = pd.DataFrame(clean_df)
new_df

              Area  Year  Value
0      Afghanistan  1961 -0.059
1      Afghanistan  1962 -0.154
2      Afghanistan  1963  0.820
3      Afghanistan  1964 -0.728
4      Afghanistan  1965  0.001
...            ...   ...    ...
14492         OECD  2014  0.777
14493         OECD  2015  1.229
14494         OECD  2016  1.804
14495         OECD  2017  1.286
14496         OECD  2018  1.016

[14497 rows x 3 columns]

In [9]:
col_new_df = new_df.rename(columns = {"Area" : "Country", "Months" : "Month" , "Value" : "Change in Temp (C)"})
col_new_df

           Country  Year  Change in Temp (C)
0      Afghanistan  1961              -0.059
1      Afghanistan  1962              -0.154
2      Afghanistan  1963               0.820
3      Afghanistan  1964              -0.728
4      Afghanistan  1965               0.001
...            ...   ...                 ...
14492         OECD  2014               0.777
14493         OECD  2015               1.229
14494         OECD  2016               1.804
14495         OECD  2017               1.286
14496         OECD  2018               1.016

[14497 rows x 3 columns]

In [10]:
#export data into csv
col_new_df.to_csv('Final_CSVs/year_temp.csv', index = False)